*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/settings.gradle.kts
/gradlew.bat
/gradlew
/gradle.properties
/build.gradle.kts
/gradle/wrapper/
/easycode/
/inspectionProfiles/
/deploymentTargetDropDown.xml
/easycode.ignore
/kotlinc.xml
/migrations.xml
/vcs.xml
/proguard-rules.pro
/foodplaner3000/
/test/java/me/trujillo/foodplaner3000/
/androidTest/java/me/trujillo/foodplaner3000/
/AndroidManifest.xml
/res/